html {
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button,
input {
    color: inherit;
    font: inherit;
}

button {
    border: none;
    appearance: none;
    outline: none;
    background: none;
    cursor: pointer;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 275px 1fr;
    grid-template-rows: auto 1fr;
}

body img {
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    padding: 1.5rem 2.5rem;
    display: grid;
    grid-template-rows: 40% 60%;
}

.top {
    display: grid;
    grid-template-columns: 1fr max-content;
    margin-bottom: 2.5rem;
}

.top > .headerSearch {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top > .profileInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom > .profileGreeting {
    display: flex;
}

.bottom > .buttons {
    display: flex;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: cornflowerblue;
    padding: 2rem;
}

.sidebar-item {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}

.directory > .sidebar-item {
    font-size: 1.2rem;
}

.controls > .sidebar-item {
    font-size: 1.2rem;
}

.content {
    grid-area: 2 / 2 / 3 / 3;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 3fr 0.8fr;
    grid-template-rows: min-content 1fr;
    padding: 1rem;
    gap: 1rem;
    overflow: auto;
}

.content h3 {
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
}

.content > div {

}

.projects {
    grid-area: 1 / 1 / 3 / 2;
}

.projects > .projectCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 250px;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 1rem;
}

.projectCard {
    background-color: white;
    border-left: 10px solid yellow;
    border-radius: 0.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.projectCard > div {

}

.sideContent {

}

.announcements {
    grid-area: 1 / 2 / 2 / 3;
    gap: 1rem;
}

.announcementCards {
    background-color: white;
}

.trending {
    grid-area: 2 / 2 / 3 / 3;
    gap: 1rem;
}

.trendingCards {
    background-color: white;
}

.sideCard {

}