body {
    /* height: 100vh;
    width: 100vw; */
}

.container {
    /* height: 90vh;
    width: 90vw; */
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    /* gap: 1rem; */
    text-align: center;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
}

.header > div {
    display: grid;
    grid-auto-flow: column;
}

.sidebar {
    background-color: #0ea5e9;
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr 2fr 3fr;
}

.dashboard {

}

.directory {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(6, 1fr);
}

.controls {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(3, 1fr);
}

.content {
    background-color: lightgray;
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.content > div {

}

.projects {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 1rem;
}

.projectsCard {
    background-color: white;
    border-radius: 15%;
}

.projectsCard > div {
    border: 2px solid purple;
}

.sideContent {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
}

.announcements {
    display: grid;
    grid-template-rows: 1fr 4fr;
    gap: 1rem;
}

.announcementCards {
    background-color: white;
    border-radius: 15%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.trending {
    display: grid;
    grid-template-rows: 1fr 4fr;
    gap: 1rem;
}

.trendingCards {
    background-color: white;
    border-radius: 15%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
}

.sideCard {

}